<configuration>
  <property name="LOG_DIR" value="/sdcard/logs/inrix/com.inrix.sample/" />

  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/logs.log</file>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="TRACE">
    <appender-ref ref="logcat" />
    <appender-ref ref="file" />
  </root>
</configuration>